.category-hover:hover{
    transform: translate(-5px);
    transition: transform .3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.active-category{
    position: absolute;
    right: 16px;
    top:20%;
    transform: translate(-50%);
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background-color: #ffffff;
}
.category-image{
    width: 64px;
    height: 64px;
    border-radius: 10%;
    border: 3px solid white;
}