.item-hover:hover{
    transform: translate(-5px);
    transition: transform .3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.item-image{
    width: 80px;
    height: 80px;
    border-radius: 10%;
    border: 3px solid white;
}